<mat-slide-toggle
	(change)="onShowLowVolumeToggle($event)"
>
	Hide low volume places?
</mat-slide-toggle>
<form [formGroup]="placesForm">
	<mat-form-field
		appearance="outline"
		floatLabel="never"
	>
		<input
      type="text"
      matInput
      placeholder="Select a location"
      formControlName="places"
      [matAutocomplete]="autoGroup"
    />
		<mat-autocomplete
			#autoGroup="matAutocomplete"
			[displayWith]="optionDisplay"
			(optionSelected)="onOptionSelected($event)"
		>
			<div *ngIf="supportedAdminLevel === 2 || supportedAdminLevel === 3">
				<mat-optgroup
					*ngFor="let place of placesOptions | async"
					[label]="place.name_en"
				>
					<ng-container *ngFor="let childPlace of place.children">
						<mat-option
							*ngIf="this.hideLowVolumePlaces ? !childPlace.disabled : true"
							[value]="childPlace"
							[disabled]="childPlace.disabled"
							[className]="'mat-option mat-focus-indicator ng-star-inserted region-option--' + childPlace.admin_level"
						>
							{{ childPlace.admin_level === 1 ? 'All ' + childPlace.name_en : childPlace.name_en }}
						</mat-option>
					</ng-container>
				</mat-optgroup>
			</div>
			<div *ngIf="supportedAdminLevel === 1">
					<mat-option
						*ngFor="let place of placesOptions | async"
						[value]="place"
						[disabled]="place.disabled"
						[className]="'mat-option mat-focus-indicator ng-star-inserted region-option--' + place.admin_level"
					>
						{{ place.name_en }}
					</mat-option>
			</div>
		</mat-autocomplete>
	</mat-form-field>
</form>