<mat-card>
  <mat-card-title>Let's get you checked in</mat-card-title>
  <app-country-select
  [supportedCountries]="supportedCountries"
  (selectedCountryChange)="onSelectedCountryChange($event)"
></app-country-select>
<app-region-select 
  *ngIf="countryData?.supportedAdminLevel !== 0 && countryChildren?.length > 0"
  [places]="countryChildren"
  [supportedAdminLevel]="countryData.supportedAdminLevel"
  (selectedRegionChange)="onSelectedRegionChange($event)"
></app-region-select>
<div>
  <button
    mat-flat-button
    color="primary"
    (click)="onRegionBtnClick()"
    [disabled]="checkBtnDisabledState()"
  >
    Let's go
  </button>
</div>
</mat-card>